@charset "utf-8";
.box{
    display:flex;
    justify-content: space-between;
    width: 960px;
    margin:0 auto;
}


.box div{
    background-color: blue;
    width:300px;
    height: 300px;   
    
}

.box2{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 960px;
    margin:0 auto;
}

.box2 div{
    background-color: red;
    width:300px;
    height: 300px;
    margin-top: 20px;
}


html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

.aaa{
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    align-items: center;
}

ul{
    display: flex;
}

li{
   padding-left:1%; 
   min-width: 90px;
}

li:not(:last-child){
    border-right:2px solid #ddd;
    }

@media screen and (max-width:767px){
    .aaa{
        display: block;
    }
    
    ul{
       display:block;
    }
    
    li{
        margin-top: 10px;
        border-bottom: 2px solid #ddd;
    }
    
    li:not(:last-child){
        border-right:none;
        max-width: 767px;
        }

 }